.large-padding.row.middle-xs.text-left
    = grid xs: 3,sm: 2, md: 1 do
        = circle_img friendship.user.avatar.url(:thumb), 50
    = grid xs: 6, sm: 6, md: 7 do
        = link_to friendship.user.username, friendship.user
    - if friendship.pending?
        = grid xs: 3, sm: 4, md: 4, class: "text-right" do
            = link_to "Aceptar", friendship_path(friendship, status: 1), method: :patch, class: "right-space mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            = link_to "Denegar", friendship_path(friendship, status: 0), method: :patch, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"